body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/blackjack.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px 0px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    text-align: center;

}
 
button {
    color: black;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px 0px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

div.card{
    display: inline-block;
    height: 100px;
    width:65px;
    border: 1px solid black;
    margin: 10px auto;
    background-color: white;

    border-radius: 5px;
}

div.inactive {
    display: none;
}

/* STYLE BUTTONS */

#start-game-btn {
    width: 300px;
    font-size: 24px;
}

#new-game-btn {
    display:none;
    margin: auto;
    background-color: darkred;
}

#new-card-btn {
    display:none;
    width: 250px;
    font-size: 20px;
    margin: 5px  auto;
}